
body{
  background-color: #10181A;
}

.main{
  color: #cccdbb;
  background-image: url(images/pexels-supreet-8960865.jpg);
  background-size: cover;
    background-position: center;
}
.loc {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 28px;
  }
  
  .line {
    border-top: 1px solid #cccdbb;
    flex: 1;
    height: 0;
    margin: 0 10px;

  }
  .lines{
    border-top: 4px solid #cccdbb;
    flex: 1;
    height: 0;
    margin: 0 10px;

  }
  .language {
    text-align: right;
  }
  
  .location {
    text-align: left;
  }
  .icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family:'Alumni Sans', sans-serif;
  }

  .car{
  margin-right: 75px;
  }  
  .Home2{
    font-size: 30px;
  }
  .fa-car {
    font-size: 18px;

  }
  .heading{
    padding-top: 40px;
    font-family: 'American Captain';
    font-size: 110px;
    margin-left:120px;
    color: #121212;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
@font-face {
  font-family: 'American Captain';
  src: url('fonts/american_captain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.buttons{
  display: flex;
  align-items: center;
  margin-left:120px;
}
.discover{
  display: flex;

  flex-direction: row;
  justify-content: center;
  line-height: 2;
  align-items: center;
  background: none;
  border: 1px solid #81807B;
  color: #cccdbb;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 16px;
  width: 200px;
  height: 50px;
  margin-right: 20px;
}
.icon-dis{
  margin-left: 20px;
  font-size: 24px;
}
.heart{
  color: #cccdbb;
  height: 50px;
  width: 50px;
  background: none;
  font-size: 28px;
}
.arrows{
  display: flex;
  padding-top: 100px;
  padding-left: 50px;
  justify-content: space-between;
 
}
.containersmallpic{
  display: flex;
  padding-top: 100px;
  justify-content: flex-end;
padding-left: 1500px;
}
.smallpicm{
  display: flex;
  width: 500px;
  height: 250px;
  border: 1px solid #cccdbb;
  justify-content: center;
  margin-right: 15px;
}

.one{
    width: 200px;
  background-size: cover;
  background-position: center;
  background-image: url(images/pexels-alex-hoces-11585908.jpg);
}
.two{ 
   width: 200px;
  background-size: cover;
  background-position: center;
  
  background-image: url(images/pexels-mathieu-gervais-11941024.jpg);
}
.three{
  width: 100px;
  background-size: cover;
  background-position:bottom;
  background-image: url(images/pexels-mathieu-gervais-11941023.jpg);
}
.explore{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0px;
}
.extext{
  display: flex;
  font-family: 'American Captain';
  font-size: 110px;
  margin-left:50px;
  color: #cccdbb;
  padding-bottom:   0px;
  margin-right: 20px;
}
.arrowagain{
display: flex;

justify-content: flex-end;
margin-right: 30px;
}
.arrowleft2{
  border: solid #cccdbb;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrowright2{
  border: solid #cccdbb;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.cars{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.car2{
  height: 375px;
  width: 450px;
  border: 3px solid #cccdbb;
  margin-left: 20px;
}
.imcont{
  height: 300px;
  width: 450px;
    background-size: cover;
  background-position: center;
}
.lamb{
  background-image: url(images/pexels-mahesh-reddy-14380633.jpg);

}
.info{
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: #cccdbb;
}
.name{
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10px;
}
.price{
  font-size: 16px;
}
.fa-shield-alt {
  position: relative;
  font-size: 44px;
  color: #cccdbb;
}

.fa-car-alt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #10181A;

}
.iconcars{
  display: flex;
  width: 45px;
  height: 45px;
  border: 1px solid #cccdbb;
  background-color: #10181A;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 100px;
}
.iconcars2{
  display: flex;
  font-size: 48px;
  width: 45px;
  height: 45px;
  border: 1px solid #cccdbb;
  background-color: #10181A;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
}

.must{
  background-image: url(images/pexels-abdulwahab-alawadhi-6729276.jpg);
}
.coop{
  background-image: url(images/pexels-mike-b-4259096.jpg);
}
.caricons{
  display: flex;
  align-items: center;
  width: 1480px;
  height: 150px;
  background-color: #0b1e1c;
  justify-content: space-between;
  margin-right: 60px;
  margin-top: 20px;
 
}
.tes{
  width: 100px;
  height: 100px;
  color: #cccdbb;
  margin-bottom: 50px;
}
.kia{
  filter: brightness(0) invert(1);
}
.catalogue{
  width: 1480px;
  height: 200px;
  background-image: url(images/1pexels-maurice-lustig-2896135.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(1) ;
  font-family: 'American Captain';
  display: flex;
  justify-content: end;
  text-align: end;
  color: #cccdbb;
  font-size: 72px;
}
.options{
  display: flex;
  background-color: #212F27;
  flex-direction: column;
  justify-content: center;
}
.option{

  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 50px;
}
.searchbar{
 
  width: 650px;
  height: 30px;
  border: 2px solid #cccdbb;
  margin-right: 20px;
  align-items: center;
}
.fa-search{
  width: 30px;
  height: 30px;
  border: 2px solid #cccdbb;
  background-color: #cccdbb;
  font-size: 22px;
}
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@600&display=swap');
.notsure{
  font-family: 'Alumni Sans', sans-serif;
  text-align: center;
  font-size: 35px;
  color: #cccdbb;
  font-weight: 600;
  letter-spacing: -2px;
}
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@600&family=Roboto:wght@300&display=swap');
.letushelp{
  margin-top: 10px;
  text-align: center;
  color: #cccdbb;
  font-size: 15px;
  font-family: 'Alumni Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: 100;
}
.fa-chevron-left{
  color: #cccdbb;
  margin-left: 40px;
}
.fa-chevron-right{
  color: #cccdbb;
  margin-right: 40px;
}
.touch{
  margin-top: 30px;
  text-align: center;
  color: #cccdbb;
  font-family: 'Alumni Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 2;
}
.socialmedia{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.fa{
  color:#cccdbb;
  margin-left: 150px;
}
.media{
  font-size:100px;
  display: flex;
  margin-left: 150px;
}
.privacy{
  margin-top: 10px;
  text-align: center;
  color: #cccdbb;
  font-size: 21px;
  font-family: 'Alumni Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: 100;
}